/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './assets/demo/demo.scss';
/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

h1 {
 
    font-family: Domine;
    // margin-bottom: -4px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: var(--Display-Medium-Line-Height, 40px);
    /* 144.444% */
}


h2 {

font-family: "Noto Sans";
font-size: 28px;
// margin-bottom: -4px;
font-style: normal;
font-weight: 600;
line-height: var(--Display-Small-Line-Height, 32px); /* 157.143% */
}


h3 {

font-family: "Noto Sans";
font-size: 24px;
// margin-bottom: -4px;
font-style: normal;
font-weight: 500;
line-height: var(--Display-Small-Line-Height, 26px); /* 183.333% */
}

h4 {

font-family: "Noto Sans";
font-size: 18px;
// margin-bottom: -4px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 111.111% */
}

body {
   
font-family: "Noto Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: var(--Body-Small-Line-Height, 16px); /* 114.286% */
}

p {
    font-family: "Noto Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: var(--Body-Small-Line-Height, 16px); /* 114.286% */
}

label {
    font-family: "Noto Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: var(--Body-Small-Line-Height, 16px); /* 114.286% */
}

.label-brand-color {
    font-family: "Noto Sans";
    font-size: 14px;
    margin-bottom: 8px;
    color: #6B79F7;
    font-style: normal;
    font-weight: 600;
    line-height: var(--Body-Small-Line-Height, 16px); /* 114.286% */

}

.label-green-color {
  font-family: "Noto Sans";
  font-size: 14px;
  margin-bottom: 8px;
  color: #10B981;
  font-style: normal;
  font-weight: 600;
  line-height: var(--Body-Small-Line-Height, 16px); /* 114.286% */

}

.label-darkblue-color {
  font-family: "Noto Sans";
  font-size: 14px;
  margin-bottom: 8px;
  color: #2C43C4;
  font-style: normal;
  font-weight: 600;
  line-height: var(--Body-Small-Line-Height, 16px); /* 114.286% */

}

.p-timeline-event-opposite{
    width: 1px !important;
}

.nav-link{
    cursor: pointer;
    text-decoration: none;
    color: #2C43C4;
}

.nav-link:hover {
    text-decoration: underline;
    color: #6B79F7;
  }

  .uniform-input {
    height: 36px; // adjust as needed
    line-height: 16px;
    font-size: 14px;
    padding: 10px 7px 7px 10px;
    border-color: rgb(203, 213, 225);
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  

  }

  .uniform-input:focus {
    height: 36px; // adjust as needed
    line-height: 16px;
    font-size: 14px;
    padding: 8px 2px 2px 8px;
    border-color: #10b981;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  

  }

  .custom-line {
    border: none;
    height: 1px;
    background-color: rgb(203, 213, 225); // your desired color
    margin-top: 8px;
    margin-bottom: 12px;

  }

  .custom-line-partial {
    border: none;
    height: 1px;
    background-color: rgb(203, 213, 225); // your desired color
    width: 75%;
    margin-top: 8px;
    margin-bottom: 12px;
    margin-left: auto; // ✅ This pushes it to the right
  }
  

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
