<p-toast id="toastMod"></p-toast> <!-- Toast container to show the toast notifications -->


<div class="formPageAcc">
    <div class="card">
        <form [formGroup]="accForm" (submit)="onSubmit()">
            <div class="checkin-row">
                <div class="mb-2 field-wrapper">
                  <label for="check_in_date" class="block">Check In Date:</label><br>
                  <input class="uniform-input" type="date" formControlName="check_in_date" [min]="min_date" [max]="max_date">
                </div>
              
                <div class="mb-2 field-wrapper">
                  <label for="check_in_time" class="block">Check In Time:</label><br>
                  <input class="uniform-input" type="time" formControlName="check_in_time">
                </div>
              
                <div class="mb-2 field-wrapper">
                  <label for="timezone_time" class="block">Timezone:</label><br>
                  <select class="uniform-input" id="timezone_time" formControlName="timezone_time" placeholder="Select timezone">
                    @for(option of timezones; track option){
                        <option [value]="option.code">{{ option.name }}</option>
                    }
                  </select>
                </div>
              </div>

              <hr class="custom-line">

              <div class="checkout-row">
                <div class="mb-2 field-wrapper">
                  <label for="check_out_date" class="block">Check Out Date:</label><br>
                  <input class="uniform-input" type="date" formControlName="check_out_date" [min]="min_date" [max]="max_date">
                </div>
              
                <div class="mb-2 field-wrapper">
                  <label for="check_out_time" class="block">Check Out Time:</label><br>
                  <input class="uniform-input" type="time" formControlName="check_out_time">
                </div>
              </div>
              
        <div class="mb-2">
            <label for="accommodation_name" class="block">Accommodation Name:</label><br>
            <input style="width: 60%;" pInputText type="text" id="accommodation_name"
                formControlName="accommodation_name"><br><br>
        </div>

        <label for="accAddress" class="block">Accommodation Address:</label><br>
        <input style="width: 60%; margin-bottom: 2px;" pInputText type="text" id="accAddress"
        placeholder="Search a place or address"><br>
        <div class="map-place-wrapper">
            <div id="map" class="google-map"></div>
            @if(google_place_results){
            <p-card id="place_overview_card" class="place-card" [style]="{ overflow: 'hidden', padding: '8px 16px 16px 16px' }">
                <ng-template #header>

                </ng-template>
                <ng-template #title>{{ google_place_results.location_name }}</ng-template>
                <p>{{ google_place_results.location_address }}</p>
                <ul>
                    <li *ngFor="let day of google_place_results.g_opening_hrs">{{ day }}</li>
                </ul>
                <p>Tel: {{ google_place_results.g_biz_number }}</p>
                <p>Website: <a [href]="google_place_results.g_biz_website">{{ google_place_results.g_biz_website }}</a>
                </p>
                <ng-template #footer>
                </ng-template>
            </p-card>
            }
        </div>
        <br>
        <hr class="custom-line">
        <br>
        <div class="mb-2">
            <label for="event_notes" class="mb-0.5 block">Accommodation Notes (Optional):</label><br>
            <textarea class="mb-4" style="width: 60%;" rows="4" cols="30" pTextarea formControlName="event_notes"
                placeholder="Enter optional notes here, like confirmation booking number and links."></textarea><br>

        </div>


        <div class="flex items-center gap-5 mb-2">
            <div>
                <button type="button" routerLink="/dashboard">Back to Dashboard</button>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </div>


        </form>
    </div>


    <div>
        <!-- Loading Spinner -->
        <!-- Full-screen overlay when isUploading is true -->
        <div *ngIf="isUploading" class="overlay">
            <p-progress-spinner ariaLabel="loading"></p-progress-spinner>
        </div>

    </div>

</div>