<div id="dashboard-body">
    <div id="header-for-dashboard">
        <img [src]="bg_image" 
        alt="Background Image" 
        width="100%"
        height="100%"
        loading="lazy"
        decoding="async">
    
    </div>

    <div id="main-content">

        <h1>Welcome, {{ currUser?.displayName }}</h1>
        <div class="card">
            <p-toolbar>
                <ng-template #start>
                    <p-button icon="pi pi-plus" class="mr-2" text severity="secondary" label="Add a New Trip"
                        [routerLink]="['/addedittrip/', generatedNewTripID]" />
                </ng-template>
                <ng-template #center>
                </ng-template>
                <ng-template #end>
                </ng-template>
            </p-toolbar>
            <!-- <p-menubar [model]="nestedMenuItems">
                <ng-template #end> -->
            <!-- for left most elements -->
            <!-- </ng-template>
            </p-menubar> -->
        </div>



        @if(tripsCreatedByUser.length > 0){
        <div class="tripdetailcontainer">
            @for(trip of tripsCreatedByUser; track trip.trip_id){
            <div class="card !p-0 overflow-hidden">
                <div>
                    <p class="label-brand-color"><i class="pi pi-calendar mr-1"></i>{{ trip.start_date | dateFormat }}  to {{ trip.end_date | dateFormat }}</p>
                    <p>Created by:</p>
                </div>
                <img [src]="tripCoverImages[trip.cover_image_id] || 'default-image.jpg'"
                    alt="blog-bg" class="w-full rounded-t-2xl"/>
                <div class="p-2">
                        <div>
                            <h3>{{ trip.trip_name }}</h3>
                        </div>
                    <p class="mb-4 leading-normal w-full">{{ trip.destination_city.replaceAll("-", ", ")}}</p>
                    <p class="mb-4 leading-normal w-full">{{ trip.description_t }}</p>
                    

                    <div class="flex items-center justify-between w-full">
                        <div class="text-muted-color  flex items-center">
                            <i class="pi pi-arrow-circle-right mr-1"></i>
                            <span>View Details</span>
                        </div>
                            <img src="/demo/images/avatar/amyelsner.png" alt="avatar" class="shrink-0 w-2 h-8" />
                     
                            <div class="text-muted-color  flex items-center">
                                <i class="pi pi-arrow-circle-right"></i>
                                <a [routerLink]="">View Details</a>
        
                            </div>
                        </div>
                
                </div>
            </div>
            }
        </div>


        } @else {

        <div class="grid grid-cols-12 gap-4">
            <div class="col-span-12">
                <div class="card">
                    <div class="font-semibold text-xl mb-4 items-center">
                        <h3>No Trips Available</h3>
                    </div>
                    <p>Start a new trip by clicking "Add a New Trip".</p>
                </div>
            </div>
        </div>


        }


    </div>





</div>