#dashboard-body{
    display: flex;
    flex-direction: column; /* Keeps content stacked vertically */
    align-items: center; /* Centers content horizontally */
    /* justify-content: center; Centers content vertically */
    height: 100vh; /* Makes it take full viewport height */
    
}


#header-for-dashboard {
    width: 98vw; /* Set container size */
    height: 30vh;
    min-height: 30vh;
    overflow: hidden; /* Hides overflow */
}

#header-for-dashboard img{
    width: 100%;
    height: auto;
    max-height: 100%; /* Ensures it fits within the container */
    object-fit:cover; 
    object-position: center center;
    flex-shrink: 0;
}

#main-content{
    width: 95vw;
    background-color: var(--p-indigo-50);
    align-content: center;
    padding: 16px;
}

.tripdetailcontainer {

    width: 36vw;
    height: 98vh;


}