#dashboard-body{
    display: flex;
    flex-direction: column; /* Keeps content stacked vertically */
    align-items: center; /* Centers content horizontally */
    /* justify-content: center; Centers content vertically */
    min-height: 100vh;
    padding-bottom: 100px;
    
}


#header-for-dashboard-sharing{
    width: 98vw; /* Set container size */
    height: 40vh;
    min-height: 40vh;
    overflow: hidden; /* Hides overflow */
}

#header-for-dashboard img{
    width: 100%;
    height: auto;
    max-height: 100%; /* Ensures it fits within the container */
    object-fit:cover; 
    object-position: center center;
    flex-shrink: 0;
}

#main-content{
    width: 95vw;
    background-color: var(--p-slate-50);
    align-content: center;
    padding: 16px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;

}

/* Fullscreen overlay */
.overlay {
    position: fixed;  /* Makes it stay in place */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }