<p-toast id="toastMod"></p-toast> <!-- Toast container to show the toast notifications -->
<div *ngIf="dataUri.length!=0">
    <div id="trip-image-header-preview">
        <img [src]="dataUri" alt="Cover Image Preview" style="height: auto;">
    </div>
</div>
<div class="formPage">
    <div class="card">
        <form [formGroup]="newTripForm" (submit)="onSubmit()">
            <div class="mb-2">
                <label for="trip_name" class="block">Name of this Trip:</label><br>
                <input style="width: 60%;" pInputText type="text" id="trip_name" formControlName="trip_name"><br><br>
            </div>
            <div class="mb-2">
                <label for="destinationCity" class="block">Destination City:</label><br>
                <input style="width: 60%; margin-bottom: 2px;" pInputText type="text" id="destinationCity"
                    placeholder="Search your city-country of your destination"><br>
                <small>{{ printDestinationInfo$ | async}}</small><br>
            </div>

            <div class="mb-2">
                <label for="start_date" class="block">Start Date of Trip:</label><br>
                <input class="uniform-input" style="width: 30%;" type="date" formControlName="start_date">

            </div>
            <div class="mb-4">
                <label for="end_date" class="block">End Date of Trip:</label><br>
                <input class="uniform-input" style="width: 30%;" type="date" formControlName="end_date" [min]="minEndDate()"><br>
            </div>

            <div class="mb-2">
                <label for="description_t" class="mb-0.5 block">Description for this Trip (Optional):</label><br>
                <textarea style="width: 60%;" rows="4" cols="30" pTextarea formControlName="description_t"
                    placeholder="Enter an optional description here."></textarea><br>

            </div>
            <label for="cover_image" class="mb-0.5 block">Upload an Image to set a Cover Image for this Trip
                (Optional):</label><br>
            <div class="flex items-center gap-0.5 mb-8">
                <div>
                    <!-- Image Upload Section -->
                    <input type="file" accept=".png, .jpeg, .jpg" (change)="onFileSelected($event)">
                </div>



                <!-- Image Preview -->
                <div *ngIf="dataUri.length!=0" class="mb-2">
                    <button type="button" (click)="cancelImage()">Remove image</button>
                </div>
            </div>

            <div class="flex items-center gap-5 mb-2">
                <div>
                    <button type="button" routerLink="/dashboard">Back to Dashboard</button>
                </div>
                <div>
                    <button type="submit">Submit</button>
                </div>
            </div>


        </form>
    </div>


    <div>
        <!-- Loading Spinner -->
        <!-- Full-screen overlay when isUploading is true -->
        <div *ngIf="isUploading" class="overlay">
            <p-progress-spinner ariaLabel="loading"></p-progress-spinner>
        </div>

    </div>

</div>