#header-for-dashboard {
    width: 98vw; /* Set container size */
    height: 30vh;
    min-height: 30vh;
    overflow: hidden; /* Hides overflow */
}

#header-for-dashboard img{
    width: 100%;
    height: auto;
    max-height: 100%; /* Ensures it fits within the container */
    object-fit:cover; 
    object-position: center center;
    flex-shrink: 0;
}

.formPage {
    width: 80vw;

    align-content: center;
    padding: 60px;
  }

  .copy-group {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 4px;
  }
  
  .copy-input {
    flex-grow: 1;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .tooltip-text {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  button:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  
//   button {
//     position: relative;
//     padding: 6px 12px;
//     border: none;
//     background-color: #6b79f7;
//     color: white;
//     border-radius: 4px;
//     cursor: pointer;
//   }
  