#header-for-dashboard {
    width: 98vw; /* Set container size */
    height: 30vh;
    min-height: 30vh;
    overflow: hidden; /* Hides overflow */
}

#header-for-dashboard img{
    width: 100%;
    height: auto;
    max-height: 100%; /* Ensures it fits within the container */
    object-fit:cover; 
    object-position: center center;
    flex-shrink: 0;
}

.formPage {
    width: 80vw;

    align-content: center;
    padding: 60px;
  }