<div id="header-for-tripdetail">
    <div class="img-wrapper">
        <img [src]="selected_trip_cover_img" alt="Background Image" width="100%" height="100%" loading="lazy"
            decoding="async">
        <div class="overlay-black"></div>
        <div class="trip-details-info">
            <h1>Your trip at a glance:</h1>
            <div class="cards-info">
                <p-card id="trip-info-card"
                    [style]="{ borderTop: '8px solid #6B79F7', overflow: 'hidden', padding: '8px 16px 16px 16px' }">
                    <ng-template #header>
                        <div class="card-titles-and-label">
                            <p class="label-brand-color mr-4"><i class="pi pi-calendar mr-1"></i>{{
                                selected_tripInfo?.start_date
                                ?? '' | dateFormat }} to {{ selected_tripInfo?.end_date ?? '' | dateFormat }} </p>
                            <p class="label-brand-color">Trip Information</p>
                        </div>
                    </ng-template>
                    <ng-template #title>{{ selected_tripInfo?.trip_name }}</ng-template>
                    <p>{{ selected_tripInfo?.description_t}}</p>

                    <div style="display: flex; align-items: center; gap: 2px; flex-wrap: wrap;">
                        <p-avatar-group>
                            @for (user of curr_trip_user_roles.slice(0, 4); track user.user_id) {
                            <p-avatar [label]="user.user_display_name.substring(0, 1)"
                                [pTooltip]="user.user_display_name" tooltipPosition="top" styleClass="mr-2"
                                shape="circle" size="large" />
                            }

                            @if (curr_trip_user_roles.length > 4) {
                            <p-avatar [label]="'+' + (curr_trip_user_roles.length - 4)"
                                [pTooltip]="'and ' + (curr_trip_user_roles.length - 4) + ' more...'"
                                tooltipPosition="top" shape="circle" size="large" />
                            }
                        </p-avatar-group>
                        @if(view_mode==="Master"){
                        <p-button icon="pi pi-user-plus" [rounded]="true" severity="success"
                            [pTooltip]="'Invite more trip buddies'" tooltipPosition="top"
                            (onClick)="navigateToTripDetailsViewOnly()" />
                        }

                    </div>

                    <p>Attendees: {{ curr_trip_user_roles.length }}</p>


                    <ng-template #footer>

                        <label>Created by: {{ selected_trip_master_name }}</label>
                        <div style="width: 100%; text-align: right; margin-bottom: -12px; margin-top: 8px;">
                            <a (click)="navigateToTripDetailsViewOnly()" class="nav-link">View
                                Trip Details</a>
                        </div>

                    </ng-template>
                </p-card>
                <!-- flight card -->
                <!-- <p-card id="flight-info-card"
                    [style]="{ borderTop: '8px solid #2C43C4', overflow: 'hidden', padding: '8px 16px 16px 16px' }">
                    <ng-template #header>

                    </ng-template>
                    <ng-template #title>nonono</ng-template>
                    <p>helosodasdadsa</p>
                    <ng-template #footer>
                        <div class="flex gap-4 mt-1">
                            <label>dasdasdsadas</label>
                        </div>
                    </ng-template>
                </p-card> -->
                <!-- end of flight card -->
                @if(accomms_array.length>0){
                <!-- accommodation card if HAVE acc-->
                <p-card id="acc-info-card"
                    [style]="{ borderTop: '8px solid #6DCB6A', overflow: 'hidden', padding: '8px 16px 16px 16px' }">
                    <ng-template #header>
                        <div class="card-titles-and-label">
                            <p class="label-green-color mr-4"><i class="pi pi-calendar mr-1"></i>{{
                                accomms_array[0].check_in_date | dateFormat }} to {{ accomms_array[0].check_out_date |
                                dateFormat }}</p>
                            <p class="label-green-color">Accommodation</p>
                        </div>
                    </ng-template>
                    <ng-template #title>{{ accomms_array[0].accommodation_name }}</ng-template>
                    <div class="closer-labels">
                        <label>Address:</label>
                        <p>{{ accomms_0_location }}</p>
                    </div>
                    <div class="checkincheckoutcontainer">
                        <div class="check-in">
                            <label>Check In:</label>
                            <p>{{ accomms_array[0].check_in_date | dateFormat }}</p>
                            <p>{{ accomms_array[0].check_in_time | timeFormat}}</p>
                        </div>
                        <div class="check-out">
                            <label>Check Out:</label>
                            <p>{{ accomms_array[0].check_out_date | dateFormat }}</p>
                            <p>{{ accomms_array[0].check_out_time | timeFormat}}</p>
                        </div>
                    </div>
                    <ng-template #footer>
                        <div style="width: 100%; text-align: right; margin-bottom: -12px; margin-top: 8px;">
                            <a (click)="navigateToAccommodationViewOnly(accomms_array[0])" class="nav-link">View
                                Accommodation Details</a>
                        </div>

                        <!-- <div class="flex gap-4 mt-1">
                            <a (click)="navigateToAccommodationViewOnly(accomms_array[0])" class="nav-link">View
                                Accommodation Details</a>
                        </div> -->
                    </ng-template>
                </p-card>

                <!-- end of accommodation card if HAVE acc -->

                } @else {
                <!-- accommodation card if no acc-->
                <p-card id="acc-info-card"
                    [style]="{ borderTop: '8px solid #6DCB6A', overflow: 'hidden', padding: '8px 16px 16px 16px' }">
                    <ng-template #header>

                    </ng-template>
                    <ng-template #title>No accommodation details at the moment.</ng-template>
                    <img src="https://trippingresources.sgp1.cdn.digitaloceanspaces.com/webresources/acomm_empty_state.jpg"
                        style="width: 200px; height: auto;" class="block mx-auto">
                    <ng-template #footer>
                        @if(view_mode!=="Viewer"){
                            <div style="width: 100%; text-align: right; margin-bottom: -12px; margin-top: 8px;">
                                <a (click)="navigateToAccommodationNew()" class="nav-link">Add Accommodation Details</a>
                            </div>
                        }
            
                        <!-- <div class="flex gap-4 mt-1">
                            <label>dasdasdsadas</label>
                            <a (click)="navigateToAccommodationNew()" class="nav-link">Add Accommodation Details</a>
                        </div> -->
                    </ng-template>
                </p-card>

                <!-- end of accommodation card if no acc -->

                }



            </div>

        </div>
    </div>
</div>
<div class="trip-detail-main-body">
    <div></div>
    <div class="itinerary-builder">
        <label class="label-green-color">Quick jump to day:</label><br><br>
        <div class="flex justify-center gap-2 flex-wrap" [style]="{ backgroundColor: 'white'}">
            @for(tab of scrollableTabs; track tab.value){
            <p-button (onClick)="selectTab(tab.value)" rounded="true"
                styleClass="flex items-center justify-center text-sm" [outlined]="tabValue !== tab.value"
                [label]="'D' + (tab.value + 1)" />
            }
        </div>
        <p-tabs [value]="tabValue" (valueChange)="onTabChange($event)" [style]="{ width: '100%' }">
            <p-tablist [style]="{ maxWidth: '100%', display: 'flex', overflowX: 'auto', whiteSpace: 'nowrap'}">
                @for(tab of scrollableTabs; track tab.value){
                <p-tab [value]="tab.value">
                    {{ tab.title }}
                </p-tab>
                }
            </p-tablist>
            <p-tabpanels>
                @for(tab of scrollableTabs; track tab.value){
                <p-tabpanel [value]="tab.value">
                    <h4 class="m-2" style="font-weight: bold;">{{ tab.content }}</h4>
                </p-tabpanel>
                }
            </p-tabpanels>
        </p-tabs>
        <div>

            @if(view_mode!=="Viewer"){
                <div [style]="{ width: '100%', paddingRight: '48px', paddingLeft: '48px'}">
                    <p-divider align="center" type="dotted">
                        <p-button label="Add New Activity" icon="pi pi-plus-circle" severity="success"
                            (onClick)="navigateToActivityNew()" class="mr-2 ml-2" />
                    </p-divider>
                </div>
            }



        </div>
        @if(currentActivitiesForSelectedItn!==null){

        <div [style]="{ width: '100%', padding: '16px'}">
            @for(act of currentActivitiesForSelectedItn; track act.activity_id){
            <p-fieldset>
                <ng-template #header>
                    <div style="display: flex; align-items: center; justify-content: center; gap: 8px; padding: 0 8px;">
                        <img [src]="getIconByActivityType(act.activity_type)" alt="icon"
                            style="width: 32px; height: 32px;" />
                        <span class="font-bold" style="font-size: 16px;">{{ act.event_name }}</span>
                    </div>
                </ng-template>

                <!-- 20/80 column layout -->
                <div style="display: flex; gap: 1rem; align-items: flex-start; padding-top: 8px;">
                    <!-- 20% column -->
                    <div style="width: 20%;">
                        <label class="font-bold"> {{ act.start_time | timeFormat }} - {{ act.end_time |
                            timeFormat}}</label><br>
                        <small>{{ selected_tripInfo?.destination_timezone }}</small>
                    </div>

                    <!-- 80% column -->
                    <div style="width: 80%;">
                        <div>
                            <p class="m-2">
                                {{ locationForActivities[act.location_id]?.location_address }}
                            </p>
                            <a [href]="getGoogleMapsSearchUrl(locationForActivities[act.location_id]?.location_address ?? '', locationForActivities[act.location_id]?.google_place_id ?? '')"
                                target="_blank">Get Directions on Google Maps</a>
                        </div>
                        @if(act.event_notes!=="N/A"){
                        <div>
                            <p class="m-1" style="font-style: italic;">
                                {{ act.event_notes }}
                            </p>
                        </div>
                        }
                        <!-- Footer-like area -->
                        <div style="width: 100%; text-align: right; margin-top: 8px; padding-right: 16px;">
                            <a (click)="navigateToActivityViewOnly(act)" class="nav-link">View Activity</a>
                        </div>

                    </div>
                </div>
            </p-fieldset>
            }
        </div>






        } @else {
        <div [style]="{ width: '100%', padding: '16px' }">
            <h3 style="width: 100%; text-align: center;">No activities for this day at the moment.</h3>
            <img src="https://trippingresources.sgp1.cdn.digitaloceanspaces.com/webresources/empty_state_activity.jpg"
                width="320px" style="display: block; margin: 0 auto;">
        </div>

        }


    </div>
    <div></div>

</div>